.mainsearch {
    font-size: 3em
}

.main, .search {
    display: flex;
	flex-direction: column;
    align-items: center;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	height: 200vh;
}

.mainsubmit {
    font-size: 2em
}

.user {
    border: 2px solid gray;
    margin: 2em
}
