
body {
    background-image: url('./assets/background.gif');
    /* background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%; */

    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



nav {
    background-color: #7b3737;
    color: black;
    padding: 0.5em;
    border: 5px solid #c68989;
    /* position: fixed;
    width: 100%; */
}

a {
    color: white;
}

.mainsearch {
    font-size: 3em;
    background-color: white;
    color: #c68989;
    border: 5px solid #c68989 ;
}

.main {
    display: flex;
	flex-direction: column;
    align-items: center;
}
.search, .member-list, .circle-select{
    border: 5px solid #c68989;
    margin: 5em;
    padding: 3em;
    background-color:#7b3737;
    color: white; 
}

.user {
    border: 5px solid #c95959;
    background-color: #c68989;
    margin: 1.5em;
    padding: 1em;
    border-radius: 25px;
}

.user:hover {
    background-color: #8c5f5f;
    
}

.circle {
    color: white;
    background-color: #c6898989;
    border: 5px solid #c95959;
    /* background-color: #c68989; */
    margin: 1.5em;
    padding: 1em;
    border-radius: 25px;
}

.circle:hover {
    background-color: #8c5f5f;
    
}

.circle-profile {
    margin-left: 1em;
    margin-top: 1em;
    margin: 2em;
    border: 5px solid #c95959;
    background-color: #7b3737;
    padding: 1em
}

.login-form {
	display: flex;
    flex-direction: column;
	align-items: center;
    border: 5px solid #c68989;
    margin: 10em;
    padding: 3em;
    background-color:#7b3737;
    color: white;
}

.search-results, .user {
	display: inline-block;
    flex-direction: column;
    align-items: center;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUp-form {
	display: flex;
	flex-direction: column;
	z-index: 2;
    border: 5px solid #c68989;
    margin: 10em;
    padding: 3em;
    background-color:#7b3737;
    color: white;
}
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
}

.mainLogo {
    display: flex;
    flex-direction: column;

}

.info-form, form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-items {
    background-color: #c68989;
    padding: 1.5em;
}

.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item {
    margin-bottom: 1.5em;
}

.single-post {
    border: 5px solid #c68989;
    padding: 2em;
    margin: 5px;
    background: #7b3737;

    width: 504px;
}
/* .single-post:hover {
    background: #a74949;
} */

.post-body {
    background-color: #c68989;
    padding: 1em;
    margin: 0
}
.error {
    color: white;
}

.avatar, .profile-pic {
    border: 5px solid white;
    border-radius: 25px;
}

.profile-pic {
    border: 2px solid white;
    border-radius: 10px;
}

.post {
    border: 2px solid #c68989;
}

.circle {
    background-color: #c68989;
}

.login-button, .signup-button, button{
  margin-top: 1.5em;
  height: 2em;
  width: 10em; 
  font-size: 22px;
  color: white;
  background-color:#c95959;
}

.search-button {
    /* border: none;  */
    margin-left: 1em;
    height: 2em;
    width: 10em; 
    font-size: 12px;
    color: white;
    background-color:#c95959;
  }

.mainsubmit {
    margin-top: 1.5em;
    height: 3em;
    width: 19em; 
    font-size: 16px;
    color: white;
    background-color:#c95959;
    border: 2px solid white
}

.mini-avatars {
    border: 2px solid white;
    margin: 1em;
    border-radius: 50px;
}

.nav-title {
    color: white;
    padding-right: 2em;
    font-size: 20px
}


.user-info {
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 0.5em;
    color: white;
    background-color: #c6898989;
}
h3 {
    color: white
}
.user-info > span {
    margin-left: 0.25em;
    /* padding-top: 0.5em; */
    
    font-size: 32px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.25em;
    background-color: #7b3737;
    border: 2px solid white;
}


.userActivityBar {
    background-color: #7b3737;
    overflow: hidden;
    display: flex;
    /* justify-content: spaw */
    z-index: 3;
  }
  
  /* Style the links inside the navigation bar */
  .userActivityBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .userActivityBar a:hover {
    background-color: #c68989;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .userActivityBar a.active {
    background-color: #4CAF50;
    color: white;
  }

i {
    color: white;
    font-size: 25px;
    background-color: #c68989;  
}

i:hover {
    color: #7b3737;
}

.post-user {
    color: white;
    font-size: 18px;
    background-color: #c68989;  
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: 500
}




